In [1]:
import import_files as MrtRecommendationDependencies
from ridership_transformer import RidershipTransformer
import pandas as pd
from datetime import datetime
import pytz

In [2]:
weather_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("weather.csv"), parse_dates=["dt"])

In [4]:
weather_df.describe()

,timezone,lat,lon,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id
count,24486.0,2.448600e+04,2.448600e+04,24486.000000,24486.000000,24486.000000,24486.000000,24486.000000,0.0,0.0,24486.000000,24486.000000,24486.000000,2537.000000,2068.000000,0.0,0.0,24486.000000,24486.000000
mean,28800.0,1.461777e+01,1.210572e+02,28.250819,31.948569,25.713025,29.566813,1010.229356,NaN,NaN,73.020910,2.030427,152.667361,2.160114,6.157471,NaN,NaN,43.092502,701.306461
std,0.0,1.795933e-12,3.805745e-11,2.465978,2.821070,2.298715,2.588314,2.968942,NaN,NaN,13.660072,1.433237,100.655182,3.106897,9.466682,NaN,NaN,28.310431,117.438431
min,28800.0,1.461777e+01,1.210572e+02,20.700000,-2.370000,17.170000,21.360000,995.000000,NaN,NaN,27.000000,0.020000,0.000000,0.040000,0.200000,NaN,NaN,0.000000,200.000000
25%,28800.0,1.461777e+01,1.210572e+02,26.380000,30.130000,24.290000,27.600000,1008.000000,NaN,NaN,63.000000,1.000000,78.000000,0.330000,0.900000,NaN,NaN,20.000000,721.000000
50%,28800.0,1.461777e+01,1.210572e+02,27.950000,31.990000,25.550000,29.200000,1010.000000,NaN,NaN,74.000000,1.790000,130.000000,0.870000,2.500000,NaN,NaN,40.000000,721.000000
75%,28800.0,1.461777e+01,1.210572e+02,29.880000,33.810000,27.060000,31.300000,1012.000000,NaN,NaN,84.000000,2.600000,240.000000,3.300000,8.000000,NaN,NaN,75.000000,800.000000
max,28800.0,1.461777e+01,1.210572e+02,36.370000,42.590000,34.950000,38.800000,1033.000000,NaN,NaN,100.000000,49.400000,370.000000,29.720000,62.000000,NaN,NaN,100.000000,804.000000

In [17]:
processed_weather_df =  weather_df.drop(weather_df.columns.difference(['dt','weather_main','temp','humidity','rain_1h', 'rain_3h']), 1)

In [18]:
processed_weather_df["datetime"] = processed_weather_df.apply(lambda x: datetime.utcfromtimestamp(int(x["dt"])), axis=1)

In [19]:
processed_weather_df.set_index("datetime",inplace=True)

In [20]:
processed_weather_df.drop("dt", axis=1, inplace=True)

In [21]:
filtered_weather = processed_weather_df[(processed_weather_df.index  >= datetime(2018,7,1)) & (processed_weather_df.index < datetime(2019,7,1))]

In [22]:
filtered_weather.head()

                      temp  humidity  rain_1h  rain_3h weather_main
datetime
2018-07-01 00:00:00  27.89        84     0.21      NaN         Rain
2018-07-01 01:00:00  27.91        84     0.11      NaN         Rain
2018-07-01 02:00:00  29.51        72      NaN      1.0         Rain
2018-07-01 02:00:00  29.51        72      NaN      1.0         Haze
2018-07-01 03:00:00  29.87        72      NaN      1.0         Rain

In [23]:
weather_file = MrtRecommendationDependencies.get_dataset_path("weather_filtered.csv")

In [24]:
weather_file

'/Users/karl-potenciano/Sites/mrt-recommender/data/datasets/weather_filtered.csv'

In [13]:
filtered_weather.to_csv(weather_file)

In [68]:
datetime.now().strftime()

TypeError: strftime() missing required argument 'format' (pos 1)