In [2]:
import import_files as MrtRecommendationDependencies
from ridership_transformer import RidershipTransformer
import pandas as pd
from datetime import datetime
import pytz

In [3]:
weather_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("weather.csv"), parse_dates=["dt"])

In [10]:
manila = pytz.timezone("Asia/Manila")

In [4]:
weather_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,24.34,28.66,21.40,25.5,...,300,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
1,1514768400,2018-01-01 01:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,24.94,29.59,21.40,27.0,...,300,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
2,1514772000,2018-01-01 02:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.35,29.61,24.49,28.7,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
3,1514775600,2018-01-01 03:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.64,30.03,24.50,29.0,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
4,1514779200,2018-01-01 04:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.74,30.18,24.50,29.0,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d

In [5]:
processed_weather_df =  weather_df.drop(weather_df.columns.difference(['dt','weather_main','temp','humidity','rain_1h', 'rain_3h']), 1)

In [6]:
processed_weather_df["datetime"] = processed_weather_df.apply(lambda x: datetime.utcfromtimestamp(int(x["dt"])).astimezone(pytz.timezone('Asia/Manila')), axis=1)

In [7]:
processed_weather_df.set_index("datetime",inplace=True)

In [8]:
processed_weather_df.drop("dt", axis=1, inplace=True)

In [12]:
filtered_weather = processed_weather_df[(processed_weather_df.index  >= manila.localize(datetime(2018,7,1))) & (processed_weather_df.index < manila.localize(datetime(2019,7,1)))]

In [13]:
filtered_weather.head()

                            temp  humidity  rain_1h  rain_3h weather_main
datetime
2018-07-01 00:00:00+08:00  27.89        84     0.21      NaN         Rain
2018-07-01 01:00:00+08:00  27.91        84     0.11      NaN         Rain
2018-07-01 02:00:00+08:00  29.51        72      NaN      1.0         Rain
2018-07-01 02:00:00+08:00  29.51        72      NaN      1.0         Haze
2018-07-01 03:00:00+08:00  29.87        72      NaN      1.0         Rain

In [16]:
filtered_weather['datetime'] = filtered_weather.apply(lambda x: x.datetime.replace(tzinfo=None), axis=1)

<ipython-input-16-50af9dd4ade8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_weather['datetime'] = filtered_weather.apply(lambda x: x.datetime.replace(tzinfo=None), axis=1)

In [37]:
filtered_weather[(filtered_weather.datetime >= datetime(2018,7,3,2,0,0)) & (filtered_weather.datetime <= datetime(2018,7,3,8,0,0))]

              datetime   temp  humidity  rain_1h  rain_3h weather_main
56 2018-07-03 02:00:00  30.78        69      NaN      6.0         Rain
57 2018-07-03 02:00:00  30.78        69      NaN      6.0         Haze
58 2018-07-03 03:00:00  30.86        69      NaN      6.0         Rain
59 2018-07-03 03:00:00  30.86        69      NaN      6.0         Haze
60 2018-07-03 04:00:00  30.85        69      NaN      6.0         Rain
61 2018-07-03 04:00:00  30.85        69      NaN      6.0         Haze
62 2018-07-03 05:00:00  30.09        66      NaN      NaN         Haze
63 2018-07-03 06:00:00  30.19        66      NaN      NaN         Haze
64 2018-07-03 07:00:00  30.04        66      NaN      NaN         Haze
65 2018-07-03 08:00:00  29.91        68      NaN      NaN         Haze

In [49]:
filtered_weather.drop(erase_indices,inplace=True)

/Users/karl-potenciano/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
filtered_weather.head()

In [51]:
weather_file = MrtRecommendationDependencies.get_dataset_path("weather_filtered.csv")

In [47]:
indices = filtered_weather.groupby('datetime').filter(lambda x: len(x) > 1).index.values
erase_indices = []
for index in indices:
    if index % 2 == 0 :
        erase_indices.append(index)

In [48]:
erase_indices

[108,
 110,
 112,
 140,
 142,
 144,
 168,
 170,
 172,
 182,
 184,
 186,
 264,
 266,
 268,
 344,
 346,
 348,
 354,
 356,
 358,
 392,
 394,
 396,
 444,
 446,
 448,
 458,
 460,
 462,
 474,
 476,
 478,
 488,
 490,
 492,
 498,
 500,
 502,
 530,
 532,
 534,
 546,
 548,
 550,
 564,
 622,
 624,
 626,
 882,
 884,
 886,
 1102,
 1104,
 1106,
 1122,
 1124,
 1126,
 1150,
 1152,
 1154,
 1188,
 1190,
 1192,
 1198,
 1200,
 1202,
 1218,
 1220,
 1222,
 1228,
 1230,
 1232,
 1260,
 1262,
 1264,
 1276,
 1278,
 1280,
 1284,
 1286,
 1288,
 1312,
 1314,
 1316,
 1356,
 1358,
 1360,
 1414,
 1416,
 1418,
 1572,
 1574,
 1576,
 1588,
 1590,
 1592,
 1602,
 1604,
 1606,
 1636,
 1638,
 1640,
 1644,
 1646,
 1648,
 1666,
 1668,
 1670,
 1680,
 1682,
 1684,
 1696,
 1698,
 1700,
 1704,
 1706,
 1708,
 1846,
 1848,
 1850,
 1878,
 1880,
 1882,
 1900,
 1902,
 1904,
 1926,
 1928,
 1930,
 2068,
 2070,
 2072,
 2100,
 2102,
 2104,
 2110,
 2112,
 2114,
 2124,
 2126,
 2128,
 2152,
 2154,
 2156,
 2184,
 2186,
 2188,
 2254,
 2256,
 2258,
 2262,
 2264,
 2266,
 2398,
 2400,
 2402,
 2550,
 2552,
 2554,
 2578,
 2580,
 2582,
 2604,
 2606,
 2608,
 2728,
 2730,
 2732,
 2778,
 2780,
 2782,
 2860,
 2862,
 2864,
 3102,
 3104,
 3106,
 3124,
 3126,
 3128,
 3198,
 3200,
 3202,
 3682,
 3684,
 3686,
 3942,
 3944,
 3946,
 4186,
 4188,
 4190,
 4356,
 4358,
 4360,
 4432,
 4434,
 4436,
 4590,
 4592,
 4594,
 4624,
 4626,
 4628,
 4630,
 4632,
 4642,
 4650,
 4652,
 5876,
 5878,
 5884,
 5900,
 5904,
 5906,
 5908,
 5910,
 5914,
 5930,
 5932,
 5934,
 5936,
 5938,
 5940,
 5946,
 5976,
 5978,
 5980,
 5982,
 5984,
 5986,
 5988,
 5990,
 5992,
 5994,
 5998,
 6000,
 6002,
 6004,
 6006,
 6008,
 6010,
 6012,
 6014,
 6016,
 6018,
 6020,
 6022,
 6024,
 6026,
 6028,
 6030,
 6032,
 6034,
 6036,
 6040,
 6042,
 6044,
 6046,
 6052,
 6056,
 6058,
 6060,
 6062,
 6064,
 6066,
 6068,
 6070,
 6072,
 6074,
 6076,
 6078,
 6080,
 6082,
 6094,
 6096,
 6098,
 6102,
 6106,
 6108,
 6112,
 6126,
 6128,
 6130,
 6132,
 6134,
 6136,
 6138,
 6140,
 6142,
 6144,
 6146,
 6148,
 6160,
 6162,
 6166,
 6168,
 6170,
 6172,
 6174,
 6176,
 6178,
 6180,
 6198,
 6220,
 6222,
 6224,
 6226,
 6232,
 6234,
 6236,
 6250,
 6252,
 6256,
 6260,
 6262,
 6264,
 6266,
 6268,
 6270,
 6272,
 6284,
 6286,
 6290,
 6294,
 6298,
 6300,
 6302,
 6304,
 6316,
 6318,
 6326,
 6328,
 6330,
 6332,
 6334,
 6346,
 6348,
 6350,
 6352,
 6354,
 6360,
 6362,
 6364,
 6366,
 6390,
 6392,
 6396,
 6418,
 6420,
 6434,
 6446,
 6448,
 6460,
 6462,
 6538,
 6540,
 6542,
 6544,
 6546,
 6548,
 6550,
 6562,
 6570,
 6572,
 6574,
 6576,
 6578,
 6580,
 6582,
 6584,
 6586,
 6624,
 6628,
 6636,
 6650,
 6652,
 6660,
 6662,
 6664,
 6666,
 6668,
 6670,
 6950,
 6952,
 7242,
 7390,
 7392,
 7394,
 7396,
 7398,
 7400,
 7402,
 7830,
 7864,
 7866,
 7868,
 7874,
 7876,
 7878,
 7888,
 7890,
 7892,
 7922,
 7924,
 7926,
 7954,
 7956,
 7958,
 7960,
 8054,
 8186,
 8188,
 8190,
 8192,
 8214,
 8236,
 8278,
 8280,
 8282,
 8286,
 8288,
 8290,
 8294,
 8312,
 8316,
 8318,
 8320,
 8342,
 8344,
 8346,
 8352,
 8354,
 8356,
 8372,
 8374,
 8376,
 8406,
 8694,
 8696,
 8698,
 8716,
 8718,
 8720,
 8802,
 8804,
 8806,
 8810,
 8824,
 8826,
 8828,
 8832,
 8834,
 8836,
 8838,
 8874,
 8876,
 8878,
 8944,
 8946,
 8974,
 8976,
 8978,
 9002,
 9004,
 9006,
 9028,
 9030,
 9032,
 9062,
 9064,
 9066,
 9076,
 9078,
 9080,
 9094,
 9098,
 9100,
 9102,
 9104,
 9120,
 9122,
 9124,
 9148,
 9150,
 9152,
 9156,
 9176,
 9178,
 9180,
 9202,
 9204,
 9206,
 9210,
 9212,
 9214,
 9216,
 9222,
 9224,
 9226,
 9266,
 9268,
 9270]

In [50]:
filtered_weather.groupby('datetime').filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [datetime, temp, humidity, rain_1h, rain_3h, weather_main]
Index: []

In [55]:
weather_file
filtered_weather.reset_index(drop=True, inplace=True)

In [57]:
filtered_weather.to_csv(weather_file,index=False)